{% import "_components/menu/items/link.html.twig" as menuItemLink %}
{% import "_components/menu/items/dropdown.html.twig" as menuItemDropdown %}

<nav class="main-menu main-menu-lg navbar navbar-expand-lg navbar-dark">

    <div class="container content-container">

        <!--  Show this only on mobile to medium screens  -->
        <a class="navbar-brand d-lg-none" href="{{ path('accueil') }}">Menu</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--  Use flexbox utility classes to change how the child elements are justified  -->
        <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">

            <ul class="navbar-nav">
                {{ menuItemLink.renderLink("Nous rejoindre", "jouer", "fas fa-play-circle primary-color") }}
                {{ menuItemLink.renderLink("Voter", "voter") }}
                {{ menuItemDropdown.renderMenu("Communauté", [
                    {'route': 'accueil2', 'name': 'test'},
                    {'type': 'divider'},
                    {'route': 'accueil', 'name': 'test2'},
                    {'route': 'accueil', 'name': 'test3'},
                ]) }}
            </ul>

            <!--   Show this only lg screens and up   -->
            <a class="navbar-brand d-none d-lg-block" href="{{ path('accueil') }}">
                <div class="main-menu-logo">
                    {% include "_components/logos/main.html.twig" %}
                </div>
            </a>

            <ul class="navbar-nav">

                {{ menuItemDropdown.renderMenu("Qui sommes-nous ?", [
                    {'route': 'accueil2', 'name': 'test'},
                    {'type': 'divider'},
                    {'route': 'accueil', 'name': 'test2'},
                    {'route': 'accueil', 'name': 'test3'},
                ]) }}
                {{ menuItemDropdown.renderMenu("Aide", [
                    {'route': 'accueil2', 'name': 'test'},
                    {'type': 'divider'},
                    {'route': 'accueil', 'name': 'test2'},
                    {'route': 'accueil', 'name': 'test3'},
                ]) }}
                {{ menuItemLink.renderLink("Boutique", "jouer") }}

            </ul>
        </div>

    </div>

</nav>
