{% import "_components/menu/items/link.html.twig" as menuItemLink %}
{% import "_components/menu/items/dropdown.html.twig" as menuItemDropdown %}

<nav class="main-menu main-menu-lg navbar navbar-expand-lg navbar-dark">

    <div class="container content-container">

        <!--  Only on mobile  -->
        <a class="navbar-brand d-lg-none"
           href="{{ hasMaintenance == true ? path('maintenances') : path('accueil') }}">
            {{ param_site_name }}
            -
            <span>
                {% if hasMaintenance == true %}
                    En maintenance
                {% else %}
                    <i class="fas fa-user"></i>
                    {{ user_service.onlineUsersString() }}
                {% endif %}
            </span>
        </a>

        <button class="navbar-toggler main-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--  Use flexbox utility classes to change how the child elements are justified  -->
        <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">

            <ul class="navbar-nav">
                {{ menuItemLink.renderLink("Nous rejoindre", "jouer", "fas fa-play-circle primary-color") }}
                {{ menuItemLink.renderLink("Voter", "voter") }}
                {{ menuItemDropdown.renderMenu("Communauté", [
                    {'route': 'forum', 'name': 'Forum'},
                    {'route': 'spoils', 'name': 'Spoils'},
                    {'route': 'sondages', 'name': 'Sondages'},
                    {'type': 'divider'},
                    {'route': 'maintenances', 'name': 'Maintenances'},
                ]) }}
            </ul>

            <!--   Show this only lg screens and up   -->
            <a class="navbar-brand d-none d-lg-block" href="{{ path('accueil') }}">
                <div class="main-menu-logo">
                    {% include "_components/logos/main.html.twig" %}
                </div>
            </a>

            <ul class="navbar-nav">

                {{ menuItemDropdown.renderMenu("Qui sommes-nous ?", [
                    {'route': 'presentation', 'name': 'Présentation'},
                    {'type': 'divider'},
                    {'route': 'staff', 'name': "L'équipe"},
                    {'route': 'remerciements', 'name': 'Remerciements'},
                ]) }}
                {{ menuItemDropdown.renderMenu("Aide", [
                    {'route': 'wiki', 'name': 'Wiki / nouveautés'},
                    {'type': 'divider'},
                    {'route': 'supprt', 'name': 'Support'},
                    {'route': 'faq', 'name': 'FAQ'},
                ]) }}
                {{ menuItemLink.renderLink("Boutique", "boutique") }}

            </ul>
        </div>

    </div>

</nav>
