{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('slider') }}
{% endblock %}

{% block body %}
    <div class="carousel carousel-home mb-5" data-options='{ "autoPlay": "800", "fullscreen": true }'>
        {% for home_slide in home_slides %}
            <div class="home-carousel-cell">
                {% set slide_img = vich_uploader_asset(home_slide, 'file') | imagine_filter('slides') %}

                <img class="carousel-cell-image"
                     alt="{{ home_slide.alt }}"
                     title="{{ home_slide.title }}"
                        {% if loop.index == 0 %}
                            src="{{ slide_img }}"
                        {% else %}
                            data-flickity-lazyload="{{ slide_img }}"
                        {% endif %}
                />

                <a href="{{ path('jouer') }}" class="d-none d-sm-block">
                    <div class="carousel-caption">
                        <p style="margin: 0;">
                            <b>ScandiCraft</b> - Serveur Minecraft: PvP/Faction Launcher Moddé !
                        </p>
                    </div>
                </a>

            </div>
        {% endfor %}
    </div>

    {% if hasMaintenance %}
        {% include "_listes/short_spoils.html.twig" with {"items": last_spoils, "title": "Derniers Spoils"} %}
    {% endif %}
    
    {% include "_listes/short_news.html.twig" with {"items": last_news, "title": "Dernières News"} %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('slider') }}
{% endblock %}
