{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('slider') }}
{% endblock %}

{% block body %}
    <div class="carousel">
        {% for home_slide in home_slides %}
            <div class="home-carousel-cell">
                <img class="carousel-cell-image"
                     data-flickity-lazyload="{{ vich_uploader_asset(home_slide, 'file') }}"
                     alt="test"/>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('slider') }}
{% endblock %}
