<header class="main-header">
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-6 col-xs-6 d-flex justify-content-start">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            {% if hasMaintenance() == true %}
                                <a class="nav-link" href="{{ path('maintenances') }}">
                                    <i class="fa fa-wrench" aria-hidden="true"></i>
                                    En maintenance
                                </a>
                            {% else %}
                                <a class="nav-link" href="{{ path('jouer') }}">
                                    <i class="fas fa-user"></i>
                                    {% set onlineUsers = user_service.countOnlineUsers() %}
                                    {{ onlineUsers }} {{ onlineUsers > 0 ? 'connectés' : 'connecté' }}
                                </a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_register') }}">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                {{ user_service.countRegisterUsers() }} inscrits
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-xs-6 d-flex justify-content-end">
                    <ul class="navbar-nav">
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">
                                    <i class="fas fa-user-circle"></i>
                                    Mon compte
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_login') }}">
                                    <i class="fas fa-lock"></i>
                                    Se connecter
                                </a>
                            </li>
                        {% endif %}
                        {% if app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_logout') }}">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Se déconnecter
                                </a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_register') }}">
                                    <i class="fas fa-sign-in-alt"></i>
                                    S'enregistrer
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    {% include "_components/menu/main_menu.html.twig" %}

</header>
